.no-button {
    background-color: white;
    border: none;
}
.wish_list_button {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 30px;
    color: #666;
}
.sub_category_item {
    font-family: 'IBM Plex Sans', sans-serif  !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    display: block !important;
    color: #333 !important;
}